server:
  port: 8081
spring:
  application:
    name: hmdp
  datasource:
    # 建议升级驱动类名（针对MySQL 8.0）
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 【核心修复】在末尾添加 &allowPublicKeyRetrieval=true
    url: jdbc:mysql://192.168.100.128:3306/hmdp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: heima
    password: 123456
  redis:
    host: 192.168.100.128
    port: 6379
    password: 123456
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug